* {
    background-color: #963484;
    color: #28C2FF;
    font-family: 'free mono', Courier, monospace;
}
li a{
    background-color:#634DA1;
}
h1 {
    background-color: #3066BE;
    color: #2AF5FF;
    text-align: center;
    border-bottom: 10px double #2AF5FF;
}
h2 {
    background-color: #2AF5FF;
    color: #963484;
    text-align: center;
    border-bottom: 10px double #634DA1;
}
p,
li {
    color: #28C2FF;
}
p {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 350;
    border-style: inset;
    border-width: 5px;
    border-color: #3066BE;
    margin-top: 10px;
}

li {
    font-weight: bold;
    background-color: #634DA1;
}
ul,
ol{
    border: 15px groove #963484;
    padding: 10px;
}
ol{
    padding-left: 25px;
}

a {
    font-size: x-large;
}

.home-link{
    text-align: center; 
    background-color: #3066BE;
}

.home-link a{
    background-color: #3066BE;
}
.homepage-list{
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    border:12px solid rebeccapurple;
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: 150px;
    margin-right: 150px;
    padding: 10px;

}
.Spice-list,
.Aromatics-list{
    border: 1px;
}