* {
    background-color: #963484;
    color: #28C2FF;
    font-family: 'free mono', Courier, monospace;
}
li a{
    background-color:#634DA1;
}
h1 {
    background-color: #3066BE;
    color: #2AF5FF;
    text-align: center;
    border-bottom: 10px double #2AF5FF;
    margin-bottom: 13px;
}
h2 {
    background-color: #2AF5FF;
    color: #963484;
    text-align: center;
    border-bottom: 10px double #634DA1;
    margin-bottom: 13px;
}
p,
li {
    color: #28C2FF;
}
p {
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 350;
    border-style: inset;
    border-width: 5px;
    border-color: #3066BE;
    margin-top: 10px;
}

li {
    font-weight: bold;
    background-color: #634DA1;
}
ul,
ol{
    border: 15px groove #963484;
    padding: 10px;
}
ol{
    padding-left: 25px;
}
ul{
    list-style-type: disc;
}

a {
    font-size: x-large;
}

.home-link{
    text-align: center; 
    background-color: #3066BE;
}

.home-link a{
    background-color: #3066BE;
}
.home-link:hover,
.home-link a:hover{
    background-color: #634DA1;
}
.homepage-list{
    text-align: center;
    align-items: center;
    box-sizing: border-box;
    border:12px solid rebeccapurple;
    margin-top: 20px;
    margin-bottom: auto;
    margin-left: 150px;
    margin-right: 150px;
    padding: 10px;
}
.homepage-list:hover{
    background-color: #3066BE;
}
.Spice-list,
.Aromatics-list{
    border: 1px;
}
.top-bar-container{
    padding: 6px;
    background-color: #634DA1;
    justify-content: space-between;
}
.top-bar{
    font-size: large;
    font-weight: bolder;
    display: flex;
    justify-content: space-between;
    flex: 1 1 0;
    background-color: #362959;
    margin: 5px 10px;
    align-items: center;
}
.date{
    flex:1 1 0;
    border: 1px black;
    text-align: center;
    margin: 10px;
    padding: 30px;
}
.welcome{
    flex:1 1 0;
    text-align: center;
    margin: 10px;
    padding: 30px;
}
.little-gif{
    flex: 0 1 0;
    justify-content: flex-end;
    margin: 10px;
}
.gunfingers{
    height: 60px;
    margin: 10px;
    border: none;
    
}